<footer class="footer">
  <div class="footer-layout">

    <div class="footer-block footer-info">
      <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank" class="logo">
        <i class="fas fa-box-open"></i> RentArise
      </a>
      <b>
        <p class="tagline">Na hora da necessidade, a solução está aqui!</p>
      </b>
      <p>
        Conectamos pessoas que precisam de equipamentos com quem tem
        disponibilidade para alugar, promovendo economia, praticidade e
        colaboração.
      </p>
      <ul class="social-links">
        <li>
          <a href="#">
            <img
              src="/assets/Logo-mão_RentArise-azul.png"
              alt="Logo RentArise"
              class="social-icon"
            />
          </a>
        </li>
        <li>
          <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">
            <img src="/assets/GitHub.png" alt="" /><i class="fab fa-github"></i
          ></a>
        </li>
      </ul>
    </div>

    <div class="footer-block footer-links-container">
      <div class="footer-links-column">
        <h3>Empresa</h3>
        <a routerLink="/sobre">Sobre nós</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Carreiras</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Blog</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Imprensa</a>
      </div>
      <div class="footer-links-column">
        <h3>Produtos</h3>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Eletrônicos</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Ferramentas</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Esportes</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Moda</a>
      </div>
      <div class="footer-links-column">
        <h3>Suporte</h3>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Ajuda</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">FAQ</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Contato</a>
        <a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Segurança</a>
      </div>
    </div>
  </div>

  <div class="footer-copyright-block">
    <p>© 2025 RentArise. Todos os direitos reservados.</p>
    <ul>
      <li><a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Termos de Uso</a></li>
      <li><a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Política de Privacidade</a></li>
      <li><a href="https://github.com/J0rgeGabriel/RentArise" target="_blank">Cookies</a></li>
    </ul>
  </div>
</footer>
